# Codeowners for these exercise files:
# * (asterisk) deotes "all files and folders"
# Example: * @producer @instructor
# Sample changes made by Shivram on 8 Dec 2025
# Another line added by Shivram on 8 Dec 25